#si subo esto los de github me contratan un sicario

diosa
diosa yukki
imagenes hachan
imagenes nonchan
imagenes himaringo
imagenes usadas nonchan
imagenes usadas hachan
imagenes usadas himaringo
imagenes usadas reochi
imagenes usadas yukki

#no quiero que me hackeen hulio
.env
